<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=kenticofree;Integrated Security=False;User Id=kenticofree;Password=local;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
		<add name="kenticofreeEntities" connectionString="metadata=res://*/BlogPosts.csdl|res://*/BlogPosts.ssdl|res://*/BlogPosts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=digital-hp\sqlexpress;Initial Catalog=kenticofree;Persist Security Info=True;User ID=kenticofree;Password=local;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
	<appSettings>
		<add key="file" value="C:\\Users\\sgordon\\Downloads\\blogwp.xml"/>
		<add key="kenticoBlogId" value="1"/>
	</appSettings>
</configuration>
