<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=fahlgrenmortine_kentico;Integrated Security=False;User Id=kenticofree;Password=local;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="kenticofreeEntities" connectionString="metadata=res://*/BlogPosts.csdl|res://*/BlogPosts.ssdl|res://*/BlogPosts.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=digital-hp\sqlexpress;Initial Catalog=fahlgrenmortine_kentico;Persist Security Info=True;User ID=kenticofree;Password=local;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="file" value="C:\\Users\\sgordon\\Downloads\\blogwp.xml" />
		<add key="kenticoBlogId" value="10" />
		<add key="kenticoBlogLevel" value="1" />
		<add key="kenticoBlogPath" value="" />
		<add key="nodeOwnerId" value="53" />
		<add key="tagGroupName" value="Blog" />
		<add key="siteId" value="1" />
		<add key ="xmlTrumpsDb" value="true" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>