<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="DB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=kenticofree;Integrated Security=False;User Id=kenticofree;Password=local;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="file" value="C:\\Users\\sgordon\\Downloads\\blogwp.xml"/>
		<add key="kenticoBlogId" value="1" />
	</appSettings>
</configuration>